@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --cor-primaria: #13283E;
    --cor-secundaria: #026395;
    --cor-terciaria: #1B9AE0;
    --cor-fundo: #f3f8f8;
    --cor-fundo-branco: #FFFF;
    --cor-texto-claro: #9B99A4;
    --cor-texto-base: #747070;
    --cor-texto-base_escuro: #504d4d;
    --cor-texto-base_clara: #FFFF;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins';
  }

  /* Menu */
  
  .navbar {
    width: 100%;
    background-color: var(--cor-primaria);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    font-size: 16px;
    color: var(--cor-texto-base_clara);
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    color: #ffffffc9;
  }
  
  .dropdown-user {
    position: relative;
    display: flex;
    align-items: center;
    padding: 14px 0;
    cursor: pointer;
  }

  .dropdown-user i {
    font-size: 26px;
    color: var(--cor-texto-base_clara);
    padding: 0 16px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1001;
  }
  
  .dropdown-content a {
    color: var(--cor-texto-base_escuro);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }
  
  .dropdown-content a:hover {
    color: #535252c9;
  }
  
  .dropdown-user:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-user:hover .user-icon {
    color: #ffffffc9;
  }

  /* Texto e slide */

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 95px 5px 30px;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .containertext {
    color: var(--cor-texto-base_escuro);
    flex: 1;
    text-align: left;
    margin-right: 20px; /* Ajusta o espaço à direita do texto */
  }

  .containerimage {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .containerimage img {
    max-width: 500px;
    height: auto; /* Ajuste para manter a proporção da imagem */
    border-radius: 2px;
  }

  /* Cards de conteúdo */

  .cards {
    padding: 25px;
    background-color: var(--cor-fundo);
    height: 1300px;
    width: 100%;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 30px auto 0;
    max-width: 1000px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .card img {
    width: 100%; /* Adiciona isso */
    height: 180px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  
  .card h3 {
    font-size: 1.1rem;
    margin: 8px 0;
    color: #111;
  }
  
  .card p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 12px;
  }
  
  .btn {
    background-color: var(--cor-secundaria);
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 6px 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #115094de;
  }

  .btncard {
    background-color: var(--cor-terciaria);
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 7px 50px;
    border-radius: 20px;
    transition: background-color 0.3s;
    font-weight: bold;
    cursor: pointer;
  
    display: inline-block; /* importante */
    margin: 0 auto;         /* centraliza */
  }

  .btncard:hover {
    background-color: #1b9be0da
  }

   /* Rodapé */

   .footer {
    background-color: #0a2540;
    color: #ffffff;
    padding: 40px 20px 20px;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
  }
  
  .footer-logo h2 {
    margin: 0;
    font-size: 20px;
  }

  .footer-social img {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1); /* deixa os ícones brancos */
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    font-size: 12px;
  }

  .search-section {
    background-color: var(--cor-fundo);
    text-align: center;
    padding: 1.875rem 1.25rem;
  }
  
  .search-section-button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-base_clara);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }  
  