@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --cor-primaria: #13283E;
  --cor-secundaria: #026395;
  --cor-terciaria: #1B9AE0;
  --cor-fundo: #f3f8f8;
  --cor-texto-claro: #9B99A4;
  --cor-texto-base_escuro: #747070;
  --cor-texto-base_clara: #FFFF;
  --font-main: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-main);
  font-size: 0.75rem;
  background-color: var(--cor-fundo);
  margin: 0;
  padding: 0;
  color: var(--cor-primaria);
}

header {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-base_clara);
}

.navbar {
  background-color: var(--cor-primaria);
}

.container-nav-pesquisa {
  background-color: var(--cor-secundaria);
  padding: 0.5rem;
}

button {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  font-family: var(--font-main);
}

.bnt-pesquisa-padrao {
  color: var(--cor-texto-base_clara);
}

.bnt-criar-evento {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto-base_clara);
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.botoes {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-primario {
  background-color: var(--cor-primaria);
  border-radius: 1.25rem;
  color: var(--cor-texto-base_clara);
}

.btn-secundario {
  background-color: var(--cor-secundaria);
  border-radius: 1.25rem;
  color: var(--cor-texto-base_clara);
}
.event-card {
  width: 15rem;
  height: 24rem;
  margin: 0.5rem;
}
.btn-volta {
  margin: 0.5rem;
}
.event-card img {
  height: 10rem;
  object-fit: cover;
}

.ordenar-btn {
  background: none;
  border: none;
  font-weight: 500;
  color: var(--cor-primaria);
}
label {
  font-weight: bold;
}
.categoria{
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}

.btn-categoria{
  margin: 0.1rem;
  background-color: var(--cor-texto-base_clara);
  color: var(--cor-primaria);
  border: 0.100rem solid var(--cor-primaria);
  border-radius: 80rem;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  font-family: var(--font-main);
  box-shadow: inset 0 0 0.100rem rgba(0, 0, 0, 0.2);
}

.paginacao {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.paginacao button {
  background-color: transparent;
  border: none;
  margin: 0 0.25rem;
  color: var(--cor-terciaria);
  cursor: pointer;
  font-weight: 500;
}

.paginacao .ativo {
  font-weight: bold;
  text-decoration: underline;
}

.container-organizacao-eventos-custom {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.organizacao-botoes {
  display: flex;
  gap: 1rem;
}

 /* Rodapé */

.footer {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-base_clara);
  padding: 2.5rem 1.25rem 1.25rem; /* 40px 20px 20px */
  font-size: 0.875rem; /* 14px */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem; /* 1200px */
  margin: auto;
  gap: 1.25rem; /* 20px */
}

.footer-logo h2 {
  margin: 0;
  font-size: 1.25rem; /* 20px */
}

.footer-social img {
  width: 1.5625rem; /* 25px */
  height: 1.5625rem; /* 25px */
  filter: brightness(0) invert(1);
}

.footer-bottom {
  text-align: center;
  margin-top: 1.25rem; /* 20px */
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 0.625rem; /* 10px */
  font-size: 0.75rem; /* 12px */
}

 /* Responsividade */

@media (max-width: 540px) {
  .row {
    justify-content: center !important;
  }

  .event-card {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .container-organizacao-eventos-custom {
    justify-content: center;
  }

  .organizacao-botoes {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 383px) {
  .container-organizacao-eventos.d-flex{
    justify-content: center !important;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}


