:root {
  --color-ocean: #13283E;
  --color-sky: #1B9AE0;
  --color-blue: #026395;
  --color-light: #F8FAFA;
  --color-white: #FFFFFF;
  --color-neutral: #A3A3A3;
  --font-main: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-main);
  font-size: 0.75rem;
  background-color: var(--color-light);
  margin: 0;
  padding: 0;
  color: var(--color-ocean);
}

header, footer {
  background-color: var(--color-ocean);
  color: var(--color-white);
}

.navbar {
  background-color: var(--color-ocean);
}

.container-nav-pesquisa {
  background-color: var(--color-blue);
  padding: 0.5rem;
}

button {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  font-family: var(--font-main);
}

.bnt-pesquisa-padrao {
  color: var(--color-white);
  border-color: var(--color-white);
}

.bnt-criar-evento {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-primario {
  background-color: var(--color-sky);
  border-radius: 1.25rem;
  color: var(--color-white);
}

.event-card {
  width: 15rem;
  height: 24rem;
  margin: 0.5rem;
}


.event-card img {
  height: 10rem;
  object-fit: cover;
}

.ordenar-btn {
  background: none;
  border: none;
  font-weight: 500;
  color: var(--color-ocean);
}

.paginacao {
  text-align: center;
  margin-top: 2rem;
}

.paginacao button {
background-color: transparent;
border: none;
margin: 0 0.25rem;
color: var(--color-blue);
cursor: pointer;
font-weight: 500;
}

.paginacao .ativo {
font-weight: bold;
text-decoration: underline;
}

footer {
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}
