* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9fafa;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }

  .form-title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-box {
    width: 40%;
    background-color: #0f2741;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  
  .login-form input {
    margin-bottom: 15px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .login-form input::placeholder {
    color: #ccc;
  }
  
  .login-form .forgot {
    font-size: 12px;
    color: #a9c5dd;
    text-align: right;
    margin-bottom: 15px;
    text-decoration: none;
  }
  
  .login-form button {
    padding: 12px;
    background-color: #1aa3ff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-form .register {
    color: white;
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
  }
  
  .login-form .register a {
    color: #3dbfff;
    text-decoration: none;
  }
  
  .logo-box {
    width: 60%;
    background-color: #f9fafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .logo-box img {
    width: 500px;
    margin-bottom: 20px;
  }
  
  .logo-box h1 {
    color: #0f2741;
    font-size: 32px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .logo-box img {
        width: 300px;
        margin-bottom: 20px;
    }
  }